body {
    margin: 0;
}

@font-face {
    font-family: "FontSC"; /* Give your font a name you'll use later */
    src: url("../../../public/assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF")
        format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Optional: improves loading performance */
}

@font-face {
    font-family: "FontSCdescript"; /* Give your font a name you'll use later */
    src: url("../../../public/assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF")
        format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Optional: improves loading performance */
}

input {
    background-color: transparent;
}

#grad1 {
  height: 100%;
  width: 70%;
  background-color: red; /* For browsers that do not support gradients */
  background-image: conic-gradient(#090B10 270deg,#293653 310deg,#090B10 350deg);
  opacity: 0.6;
}

.background_image {
    width: 100%;
    height: 100vh;
    background-color: #090B10;
    position: absolute;
}

.front_background_80 {
    position: relative;
    width: 100%;
    height: 80vh;
}

.front_background_100 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.login_left {
    margin-left: 6em;
    margin-top: 6em;
}

.login_right {
    width: 100%;
    height: 100vh;
}

.login_right .text {
    width: 100%;
    margin-bottom: 20px;
}

.login_right .text button {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}
