html,
body,
#root {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow: clip;

  :where(.ant-layout) {
    background-color: #000000 !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 27px;
  }
  :where(.css-dev-only-do-not-override-xbngoj).ant-tabs .ant-tabs-tab-btn{
      color: rgba(255,255,255,0.5);
  }
}

.demo-logo-vertical {
  height: auto;
  border-radius: 6px;

  img {
    max-width: 50%;
    max-height: 100%;
    display: block;
  }
}

h1 {
  // background: -webkit-linear-gradient(0deg, #2563eb, #1e3a8a, #2563eb);
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: "992px") {

}

input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

input:focus::placeholder {
  color: transparent;
  transform: translateY(-10px);
}
